<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table table-inverse">
        <thead>
          <tr>
            <th>User Id</th>
            <th>Id</th>
            <th>Title</th>
            <th>Body</th>
          </tr>
        </thead>
      
        <tbody>
          <% for(var i=0; i < records.length; i++) { %>
          <tr>
            <td><%= records[i].userId %></td>
            <td><%= records[i].id %></td>
            <td><%= records[i].title %></td>
            <td><%= records[i].body %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
</body>
</html>